{% extends '::sign.html.twig' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.message }}</div>
    {% endif %}

    <form class="form-signin" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Photoshare</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="_username" class="form-control" placeholder="Username" required
               autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
        <a href="#" class="btn btn-lg btn-primary btn-block">Sign Up</a>
    </form>
{% endblock %}